<html>
    <head>
        <title>Create a new task</title>
    </head>
    <body>
      <h1> Epytodo </h1>
        <p></p>
        <form action="http://localhost:5000/user/task/id" method="post">
            <label>Title</label> : <input type="text" name="groupe" />
            <input type="submit" value="Create" style="color:red; font-weight:bold; padding:5px 10px;"/>
        </form>
        <form action="http://localhost:5000/user/task" method="get">
            <input type="submit" value="Back" style="color:red; font-weight:bold; padding:5px 10px;"/>
        </form>
    </body>
</html>
