<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/main.css" rel="stylesheet" type="text/css" />
        <meta charset="utf-8" />
        <title>Epytodo</title>
    </head>
    <body>
        <h1> Epytodo </h1>
        <form action="http://localhost:5000/register" method="post">
            <input type="submit" value="Register" style="color:red; font-weight:bold; padding:5px 10px;"/>
        </form>
        <p> </p>
        <form action="http://localhost:5000/singin" method="post">
          <input type="submit" value="Singin" style="color:red; font-weight:bold; padding:5px 16px;"/>
      </form>
    </body>
</html>
