<html>
    <head>
        <title>Tasks</title>
    </head>
    <body>
      <h1> Epytodo </h1>
      <p>Your tasks :</p>
        <ul>
            {% for n in tasks %}
            <li>
                <form action="http://localhost:5000/user/task/id" method="post">
                    <label>Task {{n[1]}} is acctually {{n[4]}}.  </label>
                    <input type="submit" value="Edit" style="color:red; font-weight:bold; padding:5px 10px;"/>
                    <input name="groupe" type="hidden" value="{{n[0]}}" style="color:red; font-weight:bold; padding:5px 10px;"/>
                </form>
            </li>
            {% endfor %}
        </ul>
        <p>Create a new task</p>
        <form action="http://localhost:5000/user/task/add" method="post">
            <input type="submit" value="Create" style="color:red; font-weight:bold; padding:5px 10px;"/>
        </form>
        <form action="http://localhost:5000/user" method="get">
            <input type="submit" value="Back" style="color:red; font-weight:bold; padding:5px 10px;"/>
        </form>
    </body>
</html>
